# Default owner for everything.
* @P4suta

# Architecture-affecting files require extra scrutiny.
/build.gradle.kts @P4suta
/settings.gradle.kts @P4suta
/gradle/libs.versions.toml @P4suta
/Dockerfile @P4suta
/.github/ @P4suta
